:root {
  --Font-size: 16px;
  --font-family: "Commissioner", sans-serif;
  /*  Primary */

  --Moderate-cyan: hsl(176, 50%, 47%);
  --Dark-cyan: hsl(176, 72%, 28%);

  /* ### Neutral */

  --Black: hsl(0, 0%, 0%);
  --Dark-gray: hsl(0, 0%, 48%);

  --Weights: 400, 500, 700;
}

* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

.modal-open {
  position: absolute;
  background-color: whitesmoke;
  width: 38rem;
  display: none;
  padding: 1rem;
  top: 125%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
  min-height: 30rem;
  font-family: var(--font-family);
  z-index: 100;
}

.close-modal {
  font-size: 26px;
  cursor: pointer;
}

.main-heading {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.modal-open h1 {
  font-size: 16px;
  padding-top: 1rem;
}

.modal-open p {
  font-size: 14px;
}

.modal-content > div {
  border: 1px solid var(--Dark-gray);
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-top: 1rem;
  min-height: 6rem;
}

.modal-selection2 p,
.modal-selection3 p,
.modal-selection4 p,
.modal-section1 p {
  padding: 0rem 1.8rem;
}

.modal-selection4 {
  opacity: 0.1;
}

.selection__top-secti {
  display: flex;
  align-items: center;
}

.selection__top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.7rem;
}

.top-section__col1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-section__col1 h5 {
  padding-right: 1rem;
}
.left-view {
  display: grid;
  place-content: center;
}

.description:hover {
  color: var(--Moderate-cyan);
  cursor: pointer;
}

.details {
  color: var(--Moderate-cyan);
}

.top-section__col2 span {
  color: black;
  font-size: 22px;
}

.top-section__col2 h2 {
  color: var(--Dark-gray);
  font-size: 14px;
}

.cyberpunk-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid var(--Moderate-cyan);
  border-radius: 5rem;
  background-color: transparent;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}

.cyberpunk-checkbox:before {
  content: "";
  background-color: #30cfd0;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 10px;
  height: 10px;
  border-radius: 5rem;
  transition: all 0.3s ease-in-out;
}

.cyberpunk-checkbox:checked:before {
  transform: translate(-50%, -50%) scale(1);
}
.mobile-view {
  display: flex;
  align-items: center;
}
.input-choice, .input-choice2 {
  margin-top: 1rem;
  width: 100%;
  display: none;
}
.error, .error1{
  color:red;
}
hr {
  margin: 1rem 0;
}
.input-choice__content,
.input__col2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input__col1 p {
  color: var(--Dark-gray);
  font-size: 15px;
}
.form-cover {
  position: relative;
}
.form-cover input[type="number"] {
  width: 5.1rem;
  margin-right: 0.5rem;
  appearance: none;
  font-family: var(--font-family);
  border-radius: 5rem;
  height: 2.3rem;
  border: 1px solid var(--Dark-gray);
  font-size: 16px;
  float: right;
  overflow: hidden;
  font-weight: 700;
  color: var(--Black);

}
.form-cover input[type="number"]:hover {
  border:1px solid var(--Moderate-cyan);
  cursor: pointer;
}
#pledge, #pledge1 {
  display: flex;
  text-align: end;
}

.dollar__sign {
  position: absolute;
  top: 28%;
  left: 18%;
  font-weight: 700;
  color: var(--Dark-gray);
}
button[type="submit"] {
  border-radius: 5rem;
  font-family: var(--font-family);
  width: 6rem;
  padding: 0.7rem 0.5rem;

  border: none;
  font-size: 15px;
  color: whitesmoke;
  background: var(--Moderate-cyan);
  text-align: center;
  cursor: pointer;
}
.confirmation_message {
  position: absolute;
  z-index: 99;
  top: 150%;
  display: none;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 25rem;
  min-height: 13rem;
  font-family: var(--font-family);
  padding: 1.5rem 1rem;
  background: rgb(196, 192, 192);
  border-radius: 0.5rem;
}
.confirmation_message h1 {
  font-size: 1.3rem;
  padding: 1rem 0;
  font-weight: 700;
}
.confirmation_message p {
  font-size: 0.9rem;
  padding: 1rem 0;
}
.confirm {
  font-family: var(--font-family);
  color: whitesmoke;
  background: var(--Moderate-cyan);
  border: none;
  cursor: pointer;
  width: 5.5rem;
  height: 3rem;
  border-radius: 2rem;
}

@media screen and (max-width: 450px) {
  .modal-open {
    width: 18rem;
    top: 355%;
    min-height: 35rem;
  }
  .confirmation_message {
    top: 200%;

    width: 15rem;
    min-height: 13rem;
  }
  .top-section__col1 {
    justify-content: space-around;
  }
  .mobile-view {
    display: block;
  }
  .selection__top-secti {
    display: flex;
    padding: 1rem 0;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.1rem;
  }

  .selection__top-section {
    padding: 1rem;
  }

  .main-heading {
    margin-bottom: 0.5rem;
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  }

  .modal-content > div {
    border: 1px solid var(--Dark-gray);
    border-radius: 0.5rem;
    padding: 0.8rem;
    margin-top: 1rem;
    height: 22rem;
    max-width: 14rem;
    position: relative;
  }
  .top-section__col2 {
    position: absolute;
    bottom: 35%;
    left: 18%;
  }
  .input-choice__content {
    display: block;
    width: 100%;
  }
  .input-choice__content p {
    text-align: center;
    padding-bottom: 0.5rem;
  }
  hr {
    margin-top: 3.1rem;
  }
}

@media (min-width: 451px) and (max-width: 660px) {
  .modal-open {
    max-width: 28rem;
    top: 165%;
  }
}
@media (min-width: 661px) and (max-width: 700px) {
  .modal-open {
    max-width: 28rem;
    top: 165%;
  }
}
@media (min-width: 701px) and (max-width: 800px) {
  .modal-open {
    top: 165%;
  }

  @media (min-width: 801px) and (max-width: 850px) {
    .modal-open {
      top: 165%;
    }
  }
}
@media (min-width: 851px) and (max-width: 900px) {
  .modal-open {
    top: 165%;
  }
}
}

@media (min-width: 901px) and (max-width: 1000px) {
  .modal-open {
    top: 165%;
  }
}
